<div class="mist-engine-battles-container" *ngIf="mistEngineBattles">
  <h1 class="title">{{ mistEngineBattles.title }}</h1>
  
  <div id="introduction" class="section">
    <p class="introduction" [innerHTML]="mistEngineBattles.introduction | safeHtml"></p>
    <p class="subtitle" [innerHTML]="mistEngineBattles.subtitle | safeHtml"></p>
  </div>
  
  <div *ngFor="let section of mistEngineBattles.sections; let i = index" [id]="'section-' + i" class="section">
    <h2 class="section-title">{{ section.title }}</h2>
    
    <div *ngIf="section.content" class="section-content">
      <p *ngFor="let paragraph of section.content" [innerHTML]="paragraph | safeHtml"></p>
    </div>
    
    <div *ngIf="section.subsections">
      <div *ngFor="let subsection of section.subsections; let j = index" [id]="'subsection-' + i + '-' + j" class="subsection">
        <h3 class="subsection-title">{{ subsection.title }}</h3>
        
        <div *ngIf="subsection.content" class="subsection-content">
          <p *ngFor="let paragraph of subsection.content" [innerHTML]="paragraph | safeHtml"></p>
        </div>
        
        <div *ngIf="subsection.table">
          <app-generic-table 
            [data]="transformTableData(subsection.table.rows)" 
            [headers]="subsection.table.headers" 
            [headerKeys]="['col1', 'col2']" 
            [title]="subsection.title"
            [storageKey]="'mist-engine-' + subsection.title"
            [renderHtml]="['col1', 'col2']">
          </app-generic-table>
          <div *ngIf="subsection.table.footer" class="table-footer" [innerHTML]="subsection.table.footer | safeHtml"></div>
        </div>
        
        <div *ngIf="subsection.footer" class="subsection-footer" [innerHTML]="subsection.footer | safeHtml"></div>
      </div>
    </div>
    
    <div *ngIf="section.footer" class="section-footer" [innerHTML]="section.footer | safeHtml"></div>
  </div>
  
  <app-scroll-nav [sections]="scrollSections"></app-scroll-nav>
</div>