<div class="custom-dropdown" [class.open]="isOpen">
  <div class="dropdown-trigger" (click)="toggleDropdown()">
    <div class="selected-content" *ngIf="selectedOption; else placeholderTpl">
      <ng-container *ngIf="type === 'player'">
        <div class="option-main">{{ selectedOption.name }} - {{ selectedOption.race }}</div>
        <div class="option-sub">{{ selectedOption.origin }}</div>
      </ng-container>
      <ng-container *ngIf="type === 'simple'">
        <div class="option-main">{{ selectedOption }}</div>
      </ng-container>
    </div>
    <ng-template #placeholderTpl>
      <div class="placeholder">{{ placeholder }}</div>
    </ng-template>
    <div class="arrow" [class.up]="isOpen">▼</div>
  </div>

  <div class="dropdown-menu" *ngIf="isOpen">
    <div class="dropdown-item" *ngIf="showClearOption" (click)="selectOption(null)"
      [class.selected]="selectedOption === null">
      <div class="option-main">None</div>
      <div class="option-sub">Clear selection</div>
    </div>

    <ng-container *ngIf="type === 'player'">
      <div class="dropdown-item" *ngFor="let option of options" (click)="selectOption(option)"
        [class.selected]="option.id === selectedOption?.id">
        <div class="option-main">{{ option.name }}</div>
        <div class="option-sub">{{ option.origin }}</div>
      </div>
    </ng-container>

    <ng-container *ngIf="type === 'simple'">
      <div class="dropdown-item" *ngFor="let option of options" (click)="selectOption(option)"
        [class.selected]="option === selectedOption">
        <div class="option-main">{{ option }}</div>
      </div>
    </ng-container>
  </div>
</div>