<div class="lore-container">
    <div *ngFor="let section of loreSections" class="lore-section" [id]="section.key">
      <ng-container *ngIf="!isProhibitedSection(section.key)">
        <h2 style="text-align: center;">{{section.title}}</h2>
        <div style="width:100%; display:flex; justify-content:space-around" *ngIf="section.imgUrl">
            <app-image-viewer 
                [imageUrl]="section.imgUrl"
                [thumbnailUrl]="section.thumbnail"
                [altText]="section.title"
            ></app-image-viewer>
        </div>
        <div class="player-card" *ngIf="section.title !== 'Factions' && section.title !== 'Locations'" [innerHTML]="formatLoreContent(section.content)"></div>
        
        <!-- Locations Section -->
        <div *ngIf="section.title === 'Locations'" class="locations-container" style="display: none;">
          <!-- Content removed - now in separate Locations view -->
        </div>
        
        <!-- Factions Section -->
        <div *ngIf="section.title === 'Factions'" class="factions-container">
            <div *ngFor="let faction of section.content.factions" class="faction-card" [id]="factionScrollId(faction)">
            <h3>{{faction.name}} (Controls {{faction.control}})</h3>
            <div *ngIf="faction.image" class="faction-image-container">
                <app-image-viewer
                    [imageUrl]="faction.image"
                    [thumbnailUrl]="faction.thumbnail"
                    [altText]="faction.name"
                ></app-image-viewer>
            </div>
            
            <div class="faction-details">
                <div class="faction-role">
                <h4>Role</h4>
                <p>{{faction.role}}</p>
                </div>
                
                <div class="faction-info" *ngIf="faction.mistKnowledge">
                <h4>Mist Knowledge</h4>
                <p>{{faction.mistKnowledge}}</p>
                </div>
                
                <div class="faction-info" *ngIf="faction.peopleIdentity">
                <h4>People Identity</h4>
                <p>{{faction.peopleIdentity}}</p>
                </div>
                
                <div class="faction-info" *ngIf="faction.goals">
                <h4>Goals</h4>
                <ul>
                    <li *ngFor="let goal of faction.goals">{{goal}}</li>
                </ul>
                </div>
                
                <div class="faction-info" *ngIf="faction.challenges">
                <h4>Challenges</h4>
                <ul *ngIf="Array.isArray(faction.challenges)">
                    <li *ngFor="let challenge of faction.challenges">{{challenge}}</li>
                </ul>
                <p *ngIf="!Array.isArray(faction.challenges)">{{faction.challenges}}</p>
                </div>

                <ng-container *ngFor="let section of Object.keys(faction)">
                    <div class="faction-info" *ngIf="!isStandardSection(section)">
                        <h4>{{section | capitalCase}}</h4>
                        <p>{{faction[section]}}</p>
                    </div>
                </ng-container>

                <!-- Capital Section from Locations -->
                <div class="faction-info" *ngIf="getFactionCapital(faction.name)">
                    <h4>Capital</h4>
                    <ng-container *ngIf="getFactionCapital(faction.name) as capital">
                        <p><strong>{{capital.name}}</strong>: {{capital.description}}</p>
                        <app-image-viewer 
                            *ngIf="capital.imgUrl"
                            [imageUrl]="capital.imgUrl"
                            [thumbnailUrl]="capital.thumbnail"
                            [altText]="capital.name"
                        ></app-image-viewer>
                        <!-- Notable features removed from lore view as requested -->
                    </ng-container>
                </div>
                
                <!-- Notable Islands Section - Removed as it now appears in its own view -->
                <div class="faction-info" *ngIf="false && getFactionIslands(faction.name).length > 0">
                    <!-- Content removed - now in separate Locations view -->
                </div>

                <div class="faction-info" *ngIf="faction.notableOrganizations">
                    <h4>Notable Organizations</h4>
                    <ul>
                        <li *ngFor="let organization of faction.notableOrganizations">
                            <strong>{{organization.name}}</strong>: 
                            {{organization.description}}
                        </li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
      </ng-container>
    </div>
  </div>

  <app-scroll-nav [sections]="scrollSections"></app-scroll-nav>