<div #burger class="burger-menu" (click)="toggleMenu()">☰</div>

<nav #sidebar class="sidebar" [class.open]="isOpen">
  <div class="menu-content">
    <div class="menu-item" (click)="changeView('players')">Players</div>
    <div class="menu-item" (click)="changeView('bestiary')">Bestiary</div>
    <div class="menu-item" (click)="changeView('items')">Items</div>
    <div class="menu-item" (click)="changeView('shops')">Shops</div>
    <div class="menu-item" (click)="changeView('lore')">Lore</div>
  </div>
</nav>