<div class="player-card">
  <h2>{{ player.name }}</h2>
  <div class="player-info">
    <p><strong>Race:</strong> {{ player.race }}</p>
    <p><strong>Origin:</strong> {{ player.origin }}</p>
  </div>
  
  <div class="attributes">
    <h3>Attributes</h3>
    <table class="attributes-table">
      <tr>
        <th>Movement</th>
        <th>Wounds</th>
        <th>Save</th>
        <th>APL</th>
      </tr>
      <tr>
        <td>{{ player.attributes.Movement }}</td>
        <td>{{ player.attributes.Wounds }}</td>
        <td>{{ player.attributes.Save }}</td>
        <td>{{ player.attributes.APL }}</td>
      </tr>
    </table>
  </div>
  
  <div class="weapons">
    <h3>Weapons</h3>
      <app-weapon-table 
        [weaponIds]="player.weapons"
        [weaponsData]="weaponsData"
        [weaponRulesData]="weaponRulesData">
      </app-weapon-table>
  </div>
  
  <div class="abilities">
    <h3>Abilities</h3>
    <div *ngFor="let ability of player.abilities" class="ability">
      <h4>{{ ability.name }}</h4>
      <p>{{ ability.effect }}</p>
    </div>
  </div>
  
  <div class="items" *ngIf="player.progression?.items?.length">
    <h3>Items</h3>
    <div *ngFor="let item of player.progression.items" class="item">
      <h4>{{ item.name }}</h4>
      <p>{{ item.description }}</p>
      <p *ngIf="item.quant">Quantity: {{ item.quant }}</p>
    </div>
  </div>

  <div class="deployables" *ngIf="player.deployables?.length">
    <h3>Deployables</h3>
    <div *ngFor="let deployableEntry of player.deployables">
      {{getItemById(deployableEntry.id) | json}}
      <ng-container *ngIf="getItemById(deployableEntry.id) as deployable">
        <div class="deployable">
          <h4>{{ deployable.name }} <span *ngIf="deployableEntry.quant">(Quantity: {{ deployableEntry.quant }})</span></h4>
          <p>{{ deployable.description }}</p>
          <app-weapon-table 
            *ngIf="deployable.weapons?.length"
            [weaponIds]="deployable.weapons"
            [weaponsData]="weaponsData"
            [weaponRulesData]="weaponRulesData">
          </app-weapon-table>
        </div>
      </ng-container>
    </div>
  </div>
</div>