<div class="player-card">
  <div class="player-header">
    <h2>{{ character.name }}</h2>
    <button 
      *ngIf="isActivePlayer(character)" 
      class="save-button" 
      (click)="copyToClipboard()" 
      title="Copy player data to clipboard">
      <svg xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24" width="18" fill="#ffffff">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M17 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V7l-4-4zm-5 16c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3zm3-10H5V5h10v4z"/>
      </svg>
    </button>
  </div>
  <div class="player-info">
    <div *ngIf="isPlayer(character)">
      <p><strong>Race:</strong> {{ character.race }}
      <p><strong>Origin:</strong> {{ character.origin }}</p>
      <p><strong>Talent Points:</strong> {{ character.progression.talentPoints || 0 }}</p>
    </div>
    <div *ngIf="isBeast(character)">
      <p><strong>Faction</strong> {{ getFaction(character) }} </p>
      <p><strong>Subgroup:</strong> {{ getSubgroup(character) }}</p>
      <p><strong>PR:</strong> {{ getPR(character) }}</p>
    </div>
  </div>
  
  <div [id]="'attributes-' + character.id" class="attributes">
    <h3>Attributes</h3>
    <table class="attributes-table">
      <tr>
        <th>Movement</th>
        <th>Wounds</th>
        <th>Save</th>
        <th>APL</th>
        <th>Weapon Types</th>
      </tr>
      <tr>
        <td>{{ character.attributes.Movement }}"</td>
        <td>{{ character.attributes.Wounds }}</td>
        <td>{{ character.attributes.Save }}+</td>
        <td>{{ character.attributes.APL }}</td>
        <td> {{ bodyString }} </td>
      </tr>
    </table>
  </div>
  
  <div [id]="'weapons-' + character.id" class="weapons">
    <h3>Weapons</h3>
      <app-weapon-table 
        [weaponIds]="character.weapons"
        [weaponsData]="weaponsData"
        [weaponRulesData]="weaponRulesData"
        [isCharacterDisplayPage]="true"
        [characterBody]="character.attributes.body"
        [alteredStates]="alteredStates"
        [inventoryManagement]="isActionAllowed(character)">
      </app-weapon-table>
  </div>
  
  <div [id]="'talents-' + character.id" class="talents" *ngIf="isPlayer(character) && talentTableData.length > 0">
    <h3>Talents</h3>
    <app-generic-table 
      [storageKey]="'player-talents-' + character.id"
      [title]="'Character Talents'"
      [data]="talentTableData"
      [headers]="talentTableHeaders"
      [headerKeys]="talentTableHeaderKeys"
      [isPlayerDetail]="true"
      [renderHtml]="['effect']">
    </app-generic-table>
  </div>
  
  <div [id]="'abilities-' + character.id" class="abilities">
    <h3>Abilities</h3>
    <div *ngFor="let ability of processedAbilities" class="ability">
      <h4>{{ ability.name }}</h4>
      <p [innerHtml]="ability.effect | sanitizeHtml"></p>
    </div>
  </div>
  
  <div [id]="'items-' + character.id" class="items" *ngIf="(isPlayer(character) || isBestiary(character)) && character?.items?.length">
    <h3>Items</h3>
    <app-generic-table 
      [storageKey]="'player-items-' + character.id"
      [title]="'Character Items'"
      [data]="itemTableData"
      [headers]="itemTableHeaders"
      [headerKeys]="itemTableHeaderKeys"
      [inventoryManagement]="isActionAllowed(character)"
      [isPlayerDetail]="true">
    </app-generic-table>
  </div>

  <div [id]="'deployables-' + character.id" class="deployables" *ngIf="character.deployables?.length">
    <h3>Deployables</h3>
    <div *ngFor="let deployableEntry of character.deployables">
      <ng-container *ngIf="getItemById(deployableEntry.id) as deployable">
        <div class="deployable">
          <h4>{{ deployable.name }} <span *ngIf="deployableEntry.quant">(Quantity: {{ deployableEntry.quant }})</span></h4>
          <p>{{ deployable.description }}</p>
          <app-weapon-table 
            *ngIf="deployable.weapons?.length"
            [weaponIds]="deployable.weapons"
            [weaponsData]="weaponsData"
            [weaponRulesData]="weaponRulesData"
            [alteredStates]="alteredStates"
            [inventoryManagement]="false">
          </app-weapon-table>
          <ng-container *ngIf="deployable.subType === 'mob'">
            @let mob = getMobById(deployable.bestiaryId);
            <app-player-detail
            [character]="mob"
            [weaponsData]="weaponsData"
            [itemsData]="itemsData"
            [weaponRulesData]="weaponRulesData"
            ></app-player-detail>
          </ng-container>   
        </div>
      </ng-container>
    </div>
  </div>
</div>

<app-scroll-nav *ngIf="!hideScrollNav" [sections]="scrollSections"></app-scroll-nav>