
<td>
  {{ weapon.name }}
  <span *ngIf="profiles.length > 1">({{ activeProfile.profileName || 'default' }})</span>
</td>
<td>{{ activeProfile.rng ? activeProfile.rng : activeProfile.rng === null ? '-' : 'melee' }}</td>
<td>{{ activeProfile.attacks }}</td>
<td>{{ activeProfile.ws }}</td>
<td>{{ activeProfile.damage.min }}-{{ activeProfile.damage.max }}</td>
<td>
  <span *ngFor="let rule of activeProfile.specialRules; let last = last" class="rule-item">
    <span class="rule-text"
          (mouseenter)="onRuleHover($event, rule)"
          (mouseleave)="onRuleLeave()">
      {{ getRuleDisplay(rule).name }}
    </span>
    <span *ngIf="!last">, </span>
  </span>
</td>