<div *ngIf="weapon" class="weapon-card">
  <h4>{{ weapon.name }}</h4>
  <div *ngFor="let profile of profiles" class="profile">
    <h5 *ngIf="profile.profileName">{{ profile.profileName }} Profile</h5>
    
    <table class="profile-table">
      <tr>
        <th>Range</th>
        <th>Attacks</th>
        <th>WS/BS</th>
        <th>Damage</th>
        <th>Body</th>
      </tr>
      <tr>
        <td>{{ profile.rng || '-' }}</td>
        <td>{{ profile.attacks }}</td>
        <td>{{ profile.ws }}</td>
        <td>{{ profile.damage.min }}-{{ profile.damage.max }}</td>
        <td>{{ profile.body }}</td>
      </tr>
    </table>
    
    <div *ngIf="profile.specialRules?.length" class="special-rules">
      <h6>Special Rules:</h6>
      <div class="rules-list">
        <span *ngFor="let rule of profile.specialRules; let last = last" 
              class="rule-item">
          <span class="rule-text"
                (mouseenter)="showTooltip($event, getRuleDisplay(rule).description)"
                (mouseleave)="hideTooltip()">
            {{ getRuleDisplay(rule).name }}
          </span>
          <span *ngIf="!last">, </span>
        </span>
      </div>
      <div class="custom-tooltip" *ngIf="activeTooltip" [class.active]="!!activeTooltip">
        {{ activeTooltip }}
      </div>
    </div>
  </div>
</div>