<div class="table-container">
    <table class="weapons-table">
      <thead>
        <tr>
          <th>Weapon</th>
          <th>Range</th>
          <th>Attacks</th>
          <th>WS/BS</th>
          <th>Damage</th>
          <th>Special Rules</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let weaponId of weaponIds">
          <ng-container *ngIf="getWeaponById(weaponId) as weapon">
            <tr *ngFor="let profile of weapon.profiles">
              <td>
                {{ weapon.name }}
                <span *ngIf="weapon.profiles.length > 1">({{ profile.profileName || 'default' }})</span>
              </td>
              <td>{{ profile.rng || '-' }}</td>
              <td>{{ profile.attacks }}</td>
              <td>{{ profile.ws }}</td>
              <td>
                <span *ngIf="profile.damage.min === profile.damage.max">
                  {{ profile.damage.min }}
                </span>
                <span *ngIf="profile.damage.min !== profile.damage.max">
                  {{ profile.damage.min }}-{{ profile.damage.max }}
                </span>
              </td>
              <td>
                <span *ngFor="let rule of profile.specialRules; let last = last" class="rule-item">
                    <span class="rule-text"
                        [matTooltip]="getRuleDisplay(rule).description"
                        matTooltipPosition="above"
                        matTooltipClass="weapon-tooltip"
                        [matTooltipDisabled]="!getRuleDisplay(rule).description">
                        {{ getRuleDisplay(rule).name }}
                    </span>
                    <span *ngIf="!last">, </span>
                </span>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
</div>