.weapon-rules-page {
  max-width: 1200px;
  margin: 0 auto;
}

.highlight-rule {
  animation: highlight-rule-green 2s;
}

@keyframes highlight-rule-green {
  0% { background-color: rgba(46, 204, 113, 0.6); }
  100% { background-color: transparent; }
}
